<hr />
<div class="row">
    <div class="col-sm-6">
        <a href="/assets" class="btn btn-default btn-sm pull-left">
            <span class="glyphicon glyphicon-circle-arrow-left"></span> Back to List </a>
    </div>
    <div class="col-sm-6">
        <div class=" pull-right">
            <button type="button" data-toggle="modal" data-target="#edit-modal" data-placement="bottom" title="" class="btn btn-default btn-sm edit-asset">
        <span class="glyphicon glyphicon-edit"></span> Edit </button>
            <button type="button" class="btn btn-danger btn-sm delete-asset">
                <span class="glyphicon glyphicon-remove-circle"></span> Delete </button>
        </div>
    </div>
</div>
<div class="row-fluid">
	<hr>
    <br>
    <div class="col-sm-12">
        <small>ASSET NAME</small>
        <h3>
            <%= model.get('asset_name') %>
        </h3>
        <hr>
    </div>
</div>
<div class="row-fluid">
    <div class="col-sm-12">
        <small>DESCRIPTION</small>
        <h4>
            <%= model.get('asset_description') %>
        </h4>
        <hr>
    </div>
</div>
<div class="row-fluid">
    <div class="col-sm-3">
        <small>SERIAL NUMBER</small>
        <h4>
            <%= model.get('serial_number') %>
        </h4>
    </div>
    <div class="col-sm-3">
    	<div class="col-sm-12">
        <small>SUPPLIER</small>
        <h4>
		    <%= model.get( 'supplier' ) %>
        </h4>
        </div>
    </div>
    <div class="col-sm-3">
        <small>DATE PURCHASED</small>
        <h4>
            <%= model.getDatePurchased() %>
        </h4>
    </div>
    <div class="col-sm-3">
        <small>STATUS</small>
        <h4>
            <%= model.get('status') %>
        </h4>
    </div>
</div>
<div class="row-fluid row-details" >
    <br>
    <hr>
</div>
<div class="row-fluid">
    <div class="col-sm-6">
        <small>ASSET TYPE</small>
        <h4>
            <%= model.get('asset_type') %>
        </h4>
    </div>
    <div class="col-sm-6">
		<% if( model.get( 'assignee' ) == undefined ) {
			var fullName = '';
		} else {
			var fullName = model.get( 'assignee' ).first_name + " " + model.get( 'assignee' ).last_name;
		}
			%>
        <small>ASSIGNED TO</small>
	<h4 id="assignee_<%= model.get( '_id' ) %>">
			<%= fullName %>
		</h4>
    </div>
</div>
<div class="row-fluid">
    <br>&nbsp;
    <hr>
</div>
<div class="row-fluid">
    <div class="col-sm-12">
        <small>REASONS FOR PURCHASE</small>
        <h4>
            <%= model.get('reason') %>
        </h4>
    </div>
</div>
<div class="modal fade" id="edit-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
 			<form action="/" role="form" id="edit-form">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Edit Asset</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="asset_name">Name</label>
                    <input type="text" class="form-control" id="asset_name" maxlength="30" value="<%= model.get('asset_name') %>">
                </div>
                <div class="form-group">
                    <label for="asset_description">Description</label>
                    <textarea class="form-control" id="asset_description" maxlength="160"><%= model.get('asset_description') %></textarea>
                </div>
                <div class="form-group row">
                    <div class="col-xs-6">
                        <label for="asset_type">Type</label>
                        <input type="text" class="form-control" id="asset_type" placeholder="e.g., Printer, Laptop" maxlength="30" value="<%= model.get('asset_type') %>">
                    </div>
                    <div class="col-xs-6">
                        <label for="date_purchased">Date Purchased</label>
                        <input type="text" id="date_purchased" class="form-control date-purchased" value="<%= model.getDatePurchased() %>">
                        <script>
                        var nowTemp = new Date();
                        var now = new Date(nowTemp.getFullYear(), nowTemp.getMonth(), nowTemp.getDate(), 0, 0, 0, 0);

                        $('.date-purchased').datepicker({
                            autoclose: true,
                            endDate: new Date
                        });
                        </script>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-xs-6">
                        <label for="status">Status</label>
                        <select id="status" class="status-picker" id="status">
                            <% var defective= model.get('status')==='defective' ? 'selected' : ''  %>
                            <% var working= model.get('status')==='working' ? 'selected' : ''  %>
                            <option value="working" <%= working  %>>Working</option>
                            <option value="defective" <%= defective  %>>Defective</option>
                        </select>
                        <script>
                        $('.status-picker').selectpicker();
                        </script>
                    </div>
                    <div class="col-xs-6">
                        <label for="serial_number">Serial Number</label>
                        <input type="text" class="form-control" id="serial_number" maxlength="30" value="<%= model.get('serial_number') %>">
                    </div>
                </div>
                <div class="form-group">
                    <label for="supplier">Supplier</label>
                    <input type="text" class="form-control" id="supplier" maxlength="30" value="<%= model.get('supplier') %>">
                </div>
                <div class="form-group">
                    <label for="reason">Reason for Purchase?</label>
                    <textarea class="form-control" id="reason" maxlength="160"><%= model.get('reason') %></textarea>
                </div>

            </div>
            <div class="modal-footer">
                <div class="btns">
                    <button type="button" class="btn btn-default" data-dismiss="modal"> Cancel </button>
                    <button type="submit" class="btn btn-add">
                        <span class="glyphicon glyphicon-ok-sign"></span> Save Changes </button>
                    <button type="submit" class="btn btn-add btn-load" disabled> Saving Changes... </button>
                </div>
            </div>
        </form>
            <!-- FORM END -->
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

