<td>3</td>
<td><%= model.get('first_name') + ' ' + model.get('middle_name') + ' ' + model.get('last_name') %></td>
<td><%= model.get('date_of_birth') %></td>
<td><%= model.get('email') %></td>
<td><%= model.get('user_role') %></td>
<td><%= model.get('date_employed') %></td>
<td>
  <button type="button" data-toggle="tooltip" data-placement="bottom" title="" class="btn btn-default btn-xs tool-tip" data-original-title="View Details">
    <span class="glyphicon glyphicon-search"></span>
  </button>
  <button type="button" data-toggle="tooltip" data-placement="bottom" title="" class="btn btn-default btn-xs tool-tip" data-original-title="Edit">
    <span class="glyphicon glyphicon-edit"></span>
  </button>
  <button type="button" data-toggle="tooltip" data-placement="bottom" title="" class="btn btn-default btn-xs tool-tip" data-original-title="Reset Password">
    <span class="glyphicon glyphicon-lock"></span>
  </button>
  <button type="button" data-toggle="tooltip" data-placement="bottom" title="" class="btn btn-danger btn-xs tool-tip" data-original-title="Delete">&nbsp;x&nbsp;</button>
</td>